@model AllIsFair.Models.GameVM

@{
    ViewBag.Title = "GameState";

}


<div class="container" ng-controller="gamecontroller">

    <div class="row">
        <div class="topbar container">
            <h4>Alive: {{game.NumOfAlive}}</h4>
            <h4>Dead: {{game.NumOfDead}}</h4>
        </div>
    </div>

    <div class="row map">

        <div ng-click="tileClick(tile)" ng-repeat="tile in game.Tiles | orderBy:'X' | orderBy:'Y'" ng-class="{'possibleMove' : tile.IsPossibleMove}" class="col-xs-1 tile">
            <img class="img-responsive" ng-src="{{tile.GraphicName}}" />

            <img class="img-responsive player" ng-src="{{tile.CombatantGraphicName}}" ng-show="tile.CombatantGraphicName" />
        </div>
            
        <div class="container" ng-controller="gamecontroller" ng-if="">

        </div>
        <div>
            
        </div>

       
    </div>

    <div class="row">
        <div class="col-xs-12 col-xs-offset-1">
            <div class="row bottombar stretchrow">

                @Html.Partial("BottomInfo", Model.Player)

            </div>
        </div>
    </div>

</div>


@section scripts{
    <script>
     
     

     
    </script>
}