@model AllIsFair.Models.GameInfo

@{
    ViewBag.Title = "GameState";
}

<div class="row">
    <div class="topbar"></div>
</div>

<div class="row map">
        @foreach (var tile in Model.Tiles)
        {
            <div class="col-xs-1" style="padding: 0px;">
                <img class="img-responsive tileimg" style="width: 100%;" src="~/Graphics/@tile.GraphicName" data-x="@tile.X" data-y="@tile.Y" />
            </div>
        }
</div>

<div class="row">
    <div class="bottombar"></div>
</div>