
<div class="container" ng-controller="gamecontroller">
    <div class="row">
        <div class="topbar">
            <form action="Delete" method="post" ng-if="game.Result.DieResultGraphics.length">
                <input type="submit" class="restartbutton" name="Delete" value="Restart Game" />
            </form>
            <h4>Alive: {{game.NumOfAlive}} &nbsp;&nbsp;&nbsp;&nbsp;Dead: {{game.NumOfDead}} &nbsp;&nbsp;&nbsp;&nbsp;It is {{game.Player.Name}}'s turn!</h4>
        </div>
    </div>

    <div class="row container map">
        <div ng-click="tileClick(tile)" ng-repeat="tile in game.Tiles | orderBy:'X' | orderBy:'Y'" ng-class="{ 'col-xs-1 tile {{game.PlayerColor}}' : tile.IsPossibleMove, 'col-xs-1 tile' : !tile.IsPossibleMove}">
            <img class="img-responsive" ng-src="{{tile.GraphicName}}" />

            <img class="img-responsive player" ng-src="{{tile.CombatantGraphicName}}" ng-show="tile.CombatantGraphicName" />
        </div>
    </div>

    <div class="container bottombar" ng-if="game.Result.IsAttack && game.Result != null">
        <h4>Attacker:</h4>
        <div class="dieholder">
            <img ng-repeat="r in game.Result.DieResultGraphics track by $index" class="img-responsive die" ng-src="{{r}}" />
        </div>
        <br />
        <h4 ng-if="game.Result.RollsSum != 0">{{game.Result.RollsSum}}</h4>
        <br />
        <h4>Defender:</h4>
        <div class="dieholder">
            <img ng-repeat="r in game.Result.DieResultEnemyGraphics track by $index" class="img-responsive die" ng-src="{{r}}" />
        </div>
        <br />
        <h4 ng-if="game.Result.EnemyRollsSum != 0">{{game.Result.EnemyRollsSum}}</h4>
        <div>
            <h6>{{game.Result.Name}} inflicted {{game.Result.Healthloss}} damage!</h6>
        </div>
    </div>

    <div class="container bottombar" ng-if="!game.Result.IsAttack && game.Result.Event != null">
        <div class="card">
            <div class="innerborder">
                <div class="cardtext">
                    <h4> {{game.Result.Event.Name}} </h4>
                </div>
                <img class="img-responsive cardgraphic" style="width: 100%;" ng-src="{{game.Result.Event.GraphicName}}" />
                <div class="cardtext">
                    <h6>Stat: {{game.Result.Event.RequiredStat}}</h6>
                    <h6>Stat Reward: +{{game.Result.Event.StatReward}}</h6>
                    <h6>Target Number: {{game.Result.Event.TargetNumber}}</h6>
                </div>
            </div>
        </div>
        <br />
        <h4>{{game.Result.Event.Description}}</h4>

        <div class="dieholder">
            <img ng-repeat="r in game.Result.DieResultGraphics track by $index" class="img-responsive die" ng-src="{{r}}" />
        </div>
        <h4 ng-if="game.Result.RollsSum != 0">{{game.Result.RollsSum}}</h4>
        <div ng-if="game.Result.ItemReward != null">
            <div class="card">
                <div class="innerborder">
                    <div class="cardtext">
                        <h4> {{game.Result.ItemReward.Name}} </h4>
                    </div>
                    <img class="img-responsive cardgraphic" style="width: 100%;" ng-src="{{game.Result.ItemReward.GraphicName}}" />
                    <div class="cardtext">
                        <h6>Counters: {{game.Result.ItemReward.Counter}}</h6>
                        <h6>Threat: + {{game.Result.ItemReward.ThreatBonus}}</h6>
                        <h6>Survival: + {{game.Result.ItemReward.SurvivalBonus}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="game.Result.StatReward != 0">
            <h6>+ {{game.Result.StatReward}} to {{game.Result.Event.RequiredStat}}</h6>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-12 col-xs-offset-1">
            <div class="row bottombar stretchrow">

                <div class="messagebox" ng-repeat="a in game.GameActions">
                    <h6>{{a}}</h6>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xs-offset-1">
            <div class="row bottombar stretchrow">

                @Html.Partial("BottomInfo")

            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal" id="gameOverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Game Over</h4>
                </div>
                <div class="modal-body">
                    {{ game.GameOverInfo.Killer}}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-warning" href="@Url.Action("Delete")">New Game</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

    </script>
}