@{
    ViewBag.Title = "Main";
}

<div class="homelogodiv container">
    <img class="homelogo"src="~/Graphics/allisfairlogo.png" />
</div>

<div class="row">
    <div class="homeinfo">
        <h2>Will you be the last one standing?</h2>
        <p>
            Experience the thrill of a battle royal with your friends! Gather equipment, nurture your stats, and emerge victorious! 
        </p>
    </div>
    <div class="homeinfo">
        <h2>Simple rules</h2>
        <p>If you move to an empty space you draw a card of that type. The card will list it's rewards and if you beat the target number (rolling from your required stat die pool) you earn that reward.</p>
        <p>If you move to an enemy space you do battle! The attacker uses their threat against the defenders survival die pools. If the attacker gets a roll higher than the defender they do the difference in damage.</p>
        <p>Be the last one standing and you win!</p>
    </div>
    <div class="homeinfo text-center">
        <h2>Let the battle begin!</h2>
        <a href="/Games/Index"><img class="homelink"src="~/Graphics/fightbutton.png" /></a>
    </div>
</div>