@{
    ViewBag.Title = "Main";
}

<div class="homelogodiv container">
    <img class="homelogo"src="~/Graphics/allisfairlogo.png" />
</div>

<div class="row">
    <div class="homeinfo">
        <h2>Will you be the last one standing?</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
    <div class="homeinfo">
        <h2>Simple rules</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>
    <div class="homeinfo text-center">
        <h2>Let the battle begin!</h2>
        <a href="/Games/GameState"><img class="homelink"src="~/Graphics/fightbutton.png" /></a>
    </div>
</div>