@{
    ViewBag.Title = "Main";
}

<div class="homelogodiv container">
    <img class="homelogo"src="~/Graphics/allisfairlogo.png" />
</div>

<div class="row">
    <div class="homeinfo">
        <h2>Will you be the last one standing?</h2>
        <p>
            Experience the thrill of a battle royal with your friends! Gather equipment, nurture your stats, and emerge victorious! 
        </p>
    </div>
    <div class="homeinfo">
        <h2>Simple rules</h2>
        <p>Stuff about rules and whatnot...when I get to it...</p>
    </div>
    <div class="homeinfo text-center">
        <h2>Let the battle begin!</h2>
        <a href="/Games/Index"><img class="homelink"src="~/Graphics/fightbutton.png" /></a>
    </div>
</div>